            <div class="icons display-none" id="icons">
              <span class="icone">😷</span> 
              <span class="icone">🚀</span>
              <span class="icone">👊🏼</span>
              <span class="icone">👏🏼</span>
              <span class="icone">😎</span>
              <span class="icone">🏆</span>
              <span class="icone">👋</span>
              <span class="icone">🤢</span>
              <span class="icone">🙆</span>
              <span class="icone">🥰</span>
              <span class="icone">😄</span>
              <span class="icone">🔹</span>
              <span class="icone">💻</span>
              <span class="icone">📝</span> 
              <span class="icone">🎓</span>
              <span class="icone">👊🏻</span>
              <span class="icone">😀</span>
              <span class="icone">😃</span>
              <span class="icone">😄</span>
              <span class="icone">😁</span>
              <span class="icone">😆</span> 
              <span class="icone">😅</span> 
              <span class="icone">😂</span>
              <span class="icone">🤣</span> 
              <span class="icone">😗</span> 
              <span class="icone">😙</span> 
              <span class="icone">😚</span> 
              <span class="icone">😘</span> 
              <span class="icone">😊</span>
              <span class="icone">🥰</span> 
              <span class="icone">😍</span> 
              <span class="icone">🤩</span> 
              <span class="icone">🤗</span> 
              <span class="icone">🙂</span> 
              <span class="icone">🙃</span>
              <span class="icone">😉</span> 
              <span class="icone">😋</span> 
              <span class="icone">😛</span> 
              <span class="icone">😝</span> 
              <span class="icone">😜</span> 
              <span class="icone">🤪</span>
              <span class="icone">🤔</span> 
              <span class="icone">🤨</span> 
              <span class="icone">🧐</span> 
              <span class="icone">🙄</span> 
              <span class="icone">😏</span> 
              <span class="icone">😒</span>
              <span class="icone">😣</span> 
              <span class="icone">😔</span>
              <span class="icone">😌</span>
              <span class="icone">☹️</span>
              <span class="icone">🙁</span>
              <span class="icone">😕</span> 
              <span class="icone">😟</span> 
              <span class="icone">🥺</span> 
              <span class="icone">😬</span>
              <span class="icone">🤐</span> 
              <span class="icone">🤫</span>
              <span class="icone">🤭</span> 
              <span class="icone">😰</span> 
              <span class="icone">😨</span>
              <span class="icone">😧</span> 
              <span class="icone">😦</span> 
              <span class="icone">😮</span>
              <span class="icone">😯</span> 
              <span class="icone">😲</span> 
              <span class="icone">😳</span>
              <span class="icone">🤯</span> 
              <span class="icone">😢</span> 
              <span class="icone">😥</span>
              <span class="icone">😓</span> 
              <span class="icone">😞</span> 
              <span class="icone">😖</span>
              <span class="icone">😩</span> 
              <span class="icone">😫</span> 
              <span class="icone">😵</span>
              <span class="icone">😱</span> 
              <span class="icone">🤢</span> 
              <span class="icone">🤮</span>
              <span class="icone">🤧</span> 
              <span class="icone">😷</span> 
              <span class="icone">🥴</span>
              <span class="icone">🤒</span> 
              <span class="icone">🤕</span> 
              <span class="icone">🥵</span>
              <span class="icone">🥶</span> 
              <span class="icone">😶</span> 
              <span class="icone">😐</span>
              <span class="icone">😑</span> 
              <span class="icone">😤</span> 
              <span class="icone">😠</span>
              <span class="icone">😡</span> 
              <span class="icone">🤬</span> 
              <span class="icone">😈</span>
              <span class="icone">👿</span> 
              <span class="icone">🤤</span> 
              <span class="icone">🥱</span>
              <span class="icone">😴</span> 
              <span class="icone">😪</span> 
              <span class="icone">🌞</span>
              <span class="icone">🌛</span> 
              <span class="icone">🌜</span> 
              <span class="icone">🌝</span>
              <span class="icone">🌚</span> 
              <span class="icone">💩</span> 
              <span class="icone">😇</span>
              <span class="icone">🤠</span> 
              <span class="icone">🤡</span> 
              <span class="icone">🤑</span>
              <span class="icone">🥳</span> 
              <span class="icone">😎</span> 
              <span class="icone">🤓</span>
              <span class="icone">🤥</span> 
              <span class="icone">🙈</span> 
              <span class="icone">🙉</span>
              <span class="icone">🙊</span> 
              <span class="icone">🤖</span> 
              <span class="icone">👽</span>
              <span class="icone">👻</span> 
              <span class="icone">☠️</span> 
              <span class="icone">👹</span>
              <span class="icone">👺</span> 
              <span class="icone">😺</span> 
              <span class="icone">😸</span>
              <span class="icone">😹</span> 
              <span class="icone">😻</span> 
              <span class="icone">😼</span>
              <span class="icone">😽</span> 
              <span class="icone">🙀</span> 
              <span class="icone">😿</span>
              <span class="icone">😾</span> 
              <span class="icone">❤️</span> 
              <span class="icone">💘</span>
              <span class="icone">💔</span> 
              <span class="icone">💋</span> 
              <span class="icone">💯</span>
              <span class="icone">💢</span> 
              <span class="icone">💥</span> 
              <span class="icone">🔥</span>
              <span lass="icone">✨</span> 
              <span class="icone">💭</span> 
              <span class="icone">🗯️</span>
              <span class="icone">💬</span> 
              <span class="icone">💤</span> 
              <span class="icone">🗨️</span>
              <span class="icone">👁️‍🗨️</span> 
              <span class="icone">🧠</span> 
              <span class="icone">🩸</span>
              <span class="icone">🦴</span> 
              <span class="icone">🦷</span> 
              <span class="icone">💀</span>
              <span class="icone">👄</span> 
              <span class="icone">👀</span> 
              <span class="icone">🤝</span>
              <span class="icone">🤝</span> 
              <span class="icone">🤜</span> 
              <span class="icone">🤛</span>
              <span class="icone">💪</span> 
              <span class="icone">👍</span> 
              <span class="icone">👎</span>
              <span class="icone">👏🏼</span> 
              <span class="icone">🙌</span> 
              <span class="icone">👐</span>
              <span class="icone">🤘</span> 
              <span class="icone">🤟</span> 
              <span class="icone">🤙</span>
              <span class="icone">🤞</span> 
              <span class="icone">🖕</span> 
              <span class="icone">🖖</span>
              <span class="icone">☝️</span> 
              <span class="icone">👆</span> 
              <span class="icone">👇</span>
              <span class="icone">👉</span> 
              <span class="icone">👈</span> 
              <span class="icone">✍️</span>
              <span class="icone">🙏</span> 
              <span class="icone">🙋</span> 
              <span class="icone">💁</span>
              <span class="icone">🙆</span> 
              <span class="icone">🙅</span> 
              <span class="icone">🤷</span>
              <span class="icone">🤦</span> 
              <span class="icone">🙍</span> 
              <span class="icone">🙎</span>
              <span class="icone">👶</span>
              <span class="icone">🧒</span>
              <span class="icone">🧑</span> 
              <span class="icone">🧓</span> 
              <span class="icone">👩‍🦳</span> 
              <span class="icone">👩‍🦰</span>
              <span class="icone">👱</span> 
              <span class="icone">👩‍🦱</span> 
              <span class="icone">👩‍🦲</span>
              <span class="icone">🧔</span> 
              <span class="icone">🕴️</span> 
              <span class="icone">💃</span>
              <span class="icone">🕺</span> 
              <span class="icone">👯</span> 
              <span class="icone">🧑‍🤝‍🧑</span>
              <span class="icone">👭</span> 
              <span class="icone">👬</span> 
              <span class="icone">👫</span>
              <span class="icone">💏</span> 
              <span class="icone">👩‍❤️‍💋‍👩</span> 
              <span class="icone">👨‍❤️‍💋‍👨</span> 
              <span class="icone">👩‍❤️‍💋‍👨</span> 
              <span class="icone">💑</span> 
              <span class="icone">👩‍❤️‍👩</span>
              <span class="icone">👩‍❤️‍👨</span> 
              <span class="icone">👨‍❤️‍👨</span> 
              <span class="icone">👪</span>
              <span class="icone">💐</span> 
              <span class="icone">🌹</span> 
              <span class="icone">🥀</span>
              <span class="icone">🌷</span> 
              <span class="icone">🌺</span> 
              <span class="icone">🌸</span>
              <span class="icone">🏵️</span> 
              <span class="icone">🌤️</span> 
              <span class="icone">⛅</span>
              <span class="icone">🌥️</span> 
              <span class="icone">🌦️</span> 
              <span class="icone">☁️</span>
              <span class="icone">🌨️</span> 
              <span class="icone">⛈️ </span>
              <span class="icone">🌩️</span>
              <span class="icone">🌇</span>
            </div>